.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 400px;
  width: 400px;
}

.grid-item-img {
  height: 200px;
  width: 200px;
}
